<?xml version="1.0"?>
<launch>
    <arg name="building" default="BRSU"/>
    <arg name="debug_mode" default="false"/>
    <arg name="sim_mode" default="true"/>

    <node name="ropod_wm_mediator" pkg="ropod_wm_mediator" type="ropod_wm_mediator" output="screen" args="debug_mode=$(arg debug_mode) sim_mode=$(arg sim_mode)">
        <param name="building" value="$(arg building)" />
        <remap from="~get_objects" to="/ed/get_objects" />
        <remap from="~wm_query" to="/wm_query" />
        <remap from="~path_planner" to="/path_planner" />
        <remap from="~nearest_wlan" to="/nearest_wlan" />
    </node>
</launch>
